/* for regular laptop screens - below */ 
@media screen and (min-width: 1225px) {

body {
    font-size: 20px;
    padding: 20px 0px 0px 0px;
    text-align: center;
    background: linear-gradient(#141e30, #243b55);
    font-family: 'Jua', sans-serif;
    color: #EDEDED;  
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 75px 400px 20px 400px;
    border: solid 1px;
    border-radius: 25px;
    border-color: white;
    box-shadow: 5px 0px 10px #000000;
    transition: all .2s ease-in-out; 
    overflow-wrap: break-word;
    background-color: white;
}

.flex-container:hover { 
    transform: scale(1.1); 
}

.navvlinks {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;   
    letter-spacing: .15em; 
} 

.navvlinks:hover { 
    color: rgb(122, 117, 117);  
}
 
li {
    display: inline;
    margin: 0px 40px 0px 0px;
}

nav {
    color:black;
    border: solid .25px;
    border-radius: 20px;
    box-shadow: 5px 0px 10px #000000;
}

nav:hover {
    background-color: black;
    color:white;
}

h3 {
  margin: 60px;
  color: black;
}

img {
    width: 100%;
    height: 20%;
    border-radius: 25px;
    box-shadow: 5px 0px 10px #000000;
}

/* social icons */ 
.icons {
   text-align: center;
   position: absolute; bottom: 10px; left: 0;
   width: 100%;
}

.fa {
    padding: 20px;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    margin-right: 10px;
    margin-top: 40px;
}

.icons {
    position: relative;
    display: inline;
    margin-right: 0 auto;
    margin-left: 0 auto;
}

.fa:hover {
    background-color: white;
    color: black;
}
}


/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 


/* for small laptops screens - below */ 
@media only screen and (min-width: 1000px) and (max-width: 1225px) {

    body {
        font-size: 20px;
        padding: 20px 0px 0px 0px;
        text-align: center;
        background: linear-gradient(#141e30, #243b55);
        font-family: 'Jua', sans-serif;
        color: #EDEDED;  
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 75px 250px 20px 250px;
        border: solid 1px;
        border-radius: 25px;
        border-color: white;
        box-shadow: 5px 0px 10px #000000;
        transition: all .2s ease-in-out; 
        overflow-wrap: break-word;
        background-color: white;
    }
    
    .flex-container:hover { 
        transform: scale(1.1); 
    }
    
    .navvlinks {
        font-size: 25px;
        color: white;
        text-decoration: none;
        font-weight: bold;   
        letter-spacing: .15em; 
    } 
    
    .navvlinks:hover { 
        color: rgb(122, 117, 117);  
    }
     
    li {
        display: inline;
        margin: 0px 40px 0px 0px;
    }
    
    nav {
        color:black;
        border: solid .25px;
        border-radius: 20px;
        box-shadow: 5px 0px 10px #000000;
    }
    
    nav:hover {
        background-color: black;
        color:white;
    }
    
    h3 {
      margin: 45px;
      color: black;
    }
    
    img {
        width: 100%;
        height: 20%;
        border-radius: 25px;
        box-shadow: 5px 0px 10px #000000;
    }
    
    /* social icons */ 
    .icons {
       text-align: center;
       position: absolute; bottom: 10px; left: 0;
       width: 100%;
    }
    
    .fa {
        padding: 20px;
        border-radius: 10px;
        background-color: #000000;
        color: white;
        margin-right: 10px;
        margin-top: 40px;
    }
    
    .icons {
        position: relative;
        display: inline;
        margin-right: 0 auto;
        margin-left: 0 auto;
    }
    
    .fa:hover {
        background-color: white;
        color: black;
    }

}


/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 


/* for wider ipads screens - below */ 
@media only screen and (min-width: 700px) and (max-width: 1000px) {

    body {
        font-size: 17px;
        padding: 25px 0px 0px 0px;
        text-align: center;
        background: linear-gradient(#141e30, #243b55);
        font-family: 'Jua', sans-serif;
        color: #EDEDED;  
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 25px 220px 10px 220px;
        border: solid 1px;
        border-radius: 25px;
        border-color: white;
        box-shadow: 5px 0px 10px #000000;
        transition: all .2s ease-in-out; 
        overflow-wrap: break-word;
        background-color: white;
    }
    
    .flex-container:hover { 
        transform: scale(1.1); 
    }
    
    .navvlinks {
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;   
        letter-spacing: .15em; 
    } 
    
    .navvlinks:hover { 
        color: rgb(122, 117, 117);  
    }
     
    li {
        display: inline;
        margin: 0px 35px 0px 0px;
    }
    
    nav {
        color:black;
        border: solid .25px;
        border-radius: 20px;
        box-shadow: 5px 0px 10px #000000;
    }
    
    nav:hover {
        background-color: black;
        color:white;
    }
    
    h3 {
      margin: 15px;
      color: black;
      font-weight: medium; 
      font-size: 17px;
    }
    
    img {
        width: 100%;
        height: 10%;
        border-radius: 25px;
        box-shadow: 5px 0px 10px #000000;
    }
    
   /* social icons */ 
   .icons {
    text-align: center;
    position: absolute; bottom: 10px; left: 0;
    width: 100%;
 }
 
 .fa {
     padding: 20px;
     border-radius: 10px;
     background-color: #000000;
     color: white;
     margin-right: 10px;
     margin-top: 40px;    
 }
 
 .icons {
     position: relative;
     display: inline;
     margin-right: 0 auto;
     margin-left: 0 auto;
     font-size: 25px;
 }
 
 .fa:hover {
     background-color: white;
     color: black;
 }
}


/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 


/* for regular ipads screens - below */ 
@media only screen and (min-width: 500px) and (max-width: 700px) {

    body {
        font-size: 17px;
        padding: 25px 0px 0px 0px;
        text-align: center;
        background: linear-gradient(#141e30, #243b55);
        font-family: 'Jua', sans-serif;
        color: #EDEDED;  
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 25px 80px 10px 80px;
        border: solid 1px;
        border-radius: 25px;
        border-color: white;
        box-shadow: 5px 0px 10px #000000;
        transition: all .2s ease-in-out; 
        overflow-wrap: break-word;
        background-color: white;
    }
    
    .flex-container:hover { 
        transform: scale(1.1); 
    }
    
    .navvlinks {
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;   
        letter-spacing: .15em; 
    } 
    
    .navvlinks:hover { 
        color: rgb(122, 117, 117);  
    }
     
    li {
        display: inline;
        margin: 0px 35px 0px 0px;
    }
    
    nav {
        color:black;
        border: solid .25px;
        border-radius: 20px;
        box-shadow: 5px 0px 10px #000000;
    }
    
    nav:hover {
        background-color: black;
        color:white;
    }
    
    h3 {
      margin: 15px;
      color: black;
      font-weight: medium; 
      font-size: 17px;
    }
    
    img {
        width: 100%;
        height: 10%;
        border-radius: 25px;
        box-shadow: 5px 0px 10px #000000;
    }
    
   /* social icons */ 
   .icons {
    text-align: center;
    position: absolute; bottom: 10px; left: 0;
    width: 100%;
 }
 
 .fa {
     padding: 20px;
     border-radius: 10px;
     background-color: #000000;
     color: white;
     margin-right: 10px;
     margin-top: 40px;    
 }
 
 .icons {
     position: relative;
     display: inline;
     margin-right: 0 auto;
     margin-left: 0 auto;
     font-size: 25px;
 }
 
 .fa:hover {
     background-color: white;
     color: black;
 }
}


/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 


/* for smaller ipads screens - below */ 
@media screen and (min-width: 400px) and (max-width: 500px) {

    body {
        font-size: 17px;
        padding: 25px 0px 0px 0px;
        text-align: center;
        background: linear-gradient(#141e30, #243b55);
        font-family: 'Jua', sans-serif;
        color: #EDEDED;  
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 25px 10px 10px 10px;
        border: solid 1px;
        border-radius: 25px;
        border-color: white;
        box-shadow: 5px 0px 10px #000000;
        transition: all .2s ease-in-out; 
        overflow-wrap: break-word;
        background-color: white;
    }
    
    .flex-container:hover { 
        transform: scale(1.1); 
    }
    
    .navvlinks {
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;   
        letter-spacing: .15em; 
    } 
    
    .navvlinks:hover { 
        color: rgb(122, 117, 117);  
    }
     
    li {
        display: inline;
        margin: 0px 35px 0px 0px;
    }
    
    nav {
        color:black;
        border: solid .25px;
        border-radius: 20px;
        box-shadow: 5px 0px 10px #000000;
    }
    
    nav:hover {
        background-color: black;
        color:white;
    }
    
    h3 {
      margin: 10px;
      color: black;
      font-weight: medium; 
      font-size: 17px;
    }
    
    img {
        width: 100%;
        height: 20%;
        border-radius: 25px;
        box-shadow: 5px 0px 10px #000000;
    }
    
   /* social icons */ 
   .icons {
    text-align: center;
    position: absolute; 
    bottom: 10px; 
    left: 0;
    width: 100%;
 }
 
 .fa {
     padding: 20px;
     border-radius: 10px;
     background-color: #000000;
     color: white;
     margin-right: 10px;
     margin-top: 40px;    
 }
 
 .icons {
     position: relative;
     display: inline;
     margin-right: 0 auto;
     margin-left: 0 auto;
     font-size: 25px;
 }
 
 .fa:hover {
     background-color: white;
     color: black;
 }
}
 

/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 


/* for regular phone screens - below */ 
@media screen and (max-width: 400px) {

    body {
        font-size: 17px;
        padding: 25px 0px 0px 0px;
        text-align: center;
        background: linear-gradient(#141e30, #243b55);
        font-family: 'Jua', sans-serif;
        color: #EDEDED;  
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 25px 10px 10px 10px;
        border: solid 1px;
        border-radius: 25px;
        border-color: white;
        box-shadow: 5px 0px 10px #000000;
        transition: all .2s ease-in-out; 
        overflow-wrap: break-word;
        background-color: white;
    }
    
    .flex-container:hover { 
        transform: scale(1.1); 
    }
    
    .navvlinks {
        font-size: 17px;
        color: white;
        text-decoration: none;
        font-weight: bold;   
        letter-spacing: .15em; 
    } 
    
    .navvlinks:hover { 
        color: rgb(122, 117, 117);  
    }
     
    li {
        display: inline;
        margin: 0px 27px 0px 0px;
    }
    
    nav {
        color:black;
        border: solid .25px;
        border-radius: 20px;
        box-shadow: 5px 0px 10px #000000;
    }
    
    nav:hover {
        background-color: black;
        color:white;
    }
    
    h3 {
      margin: 10px;
      color: black;
      font-weight: medium; 
      font-size: 17px;
    }
    
    img {
        width: 100%;
        height: 20%;
        border-radius: 25px;
        box-shadow: 5px 0px 10px #000000;
    }
    
   /* social icons */ 
   .icons {
    text-align: center;
    position: absolute; bottom: 10px; left: 0;
    width: 100%;
 }
 
 .fa {
     padding: 20px;
     border-radius: 10px;
     background-color: #000000;
     color: white;
     margin-right: 10px;
     margin-top: 40px;
     
 }
 
 .icons {
     position: relative;
     display: inline;
     margin-right: 0 auto;
     margin-left: 0 auto;
     font-size: 25px;
 }
 
 .fa:hover {
     background-color: white;
     color: black;
 }
}


/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 
/* /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// */ 


/* for tiny phone screens - below */ 
@media screen and (max-width: 325px) {
}